<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<connectionStrings>
		<add name="myCs" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\junyong is DaShuaiGe\Desktop\Y1S2\IOOP\assignment_IOOP\assigment\Assignment_Manager_v1\Competition_v3.mdf";Integrated Security=True'
		providerName="System.Data.SqlClient"/>
		</connectionStrings>
	
</configuration>